{% extends 'index.html' %}

{% load static %}


{% block content %}



<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <br>
                    </div>
                    <div class="row">
                       <img src="{% static 'assets/images/translogo.png' %}" alt="" height="450px" width="450px">
                            
                       
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-text-content">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <style>

                        #about .container {
                            background-image: url(../images/arkaa.jpg);
  
                            background-size: cover;
                        }

                    </style>
                    <p> Datamontag Business Development Solutions 
                      <br> <br> 
                         
                      Datamontag dijital iş geliştirme çözümleriyle işinizi ön plana çıkarmak ve geliştirmek için ihtiyacınız olan hizmetleri bir
                       arada toplayan bir topluluktur. Amacımız, işletmeniz için ihtiyacınız olan vitrini yaratarak içeri daha fazla müşteri girmesini 
                       sağlamak. Nasıl göründüğünüzü, ne anlatmak istediğinizi, kim olduğunu önemsiyor, sizin için size özel çözümler üretiyoruz. 
                       <br>
                       <br>
                      Profesyonel web çözümleri, interaktif web tasarım, sosyal medya yönetimi, SEO destekli içerik üretimi gibi ihtiyacınız olan tüm 
                      hizmetler Datamontag ekibi tarafından, size özel olarak verilir. Sorunları hızlı bir şekilde çözmek için size mümkün olan en kısa
                       sürede yanıt vermeyi amaçlayarak bu ekibin en önemli parçasına odaklanıyoruz: size.
                      <br><br>
                       Datamontag Web Hizmetleri sizin için tamamen kodla oluşturulmuş alt yapı, güncel tasarımlar, template güncelleme, admin paneli 
                      entegrasyonu ve özelleştirmeleri içeren, Web Sızma Testlerinden geçen başarılı ve korunaklı, SSL Sertifikalı web siteleri tasarlar. 
                      CRM Sistemleri, Whatsapp, Telegram ve Slack üzerinden Chatbot hizmetleri de verir. Yapay zeka tarafında, gelişmiş IoT yazılımları, 
                      veri madenciliği (data mining) ve optimizasyonu hizmeti sunar. Bununla birlikte iş güvenliği yazılımları, akıllı kart yazılımları, 
                      RFID hizmetleri de mevcuttur.
                      <br>
                      <br>
                      
                      


                    



                      
                    
                  
                </div>
            </div>








        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->









{% endblock  %}