{% load static %}

<!DOCTYPE html>
<html lang="tr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="İşinizi Hemen Büyütün! 7/24 Canlı Destek, En Güvenli E-Ticaret Yazılımı Altyapısı, Gelişmiş Web Tasarım, Sosyal Medya Yönetimi ve SEO Hizmetiyle Hemen Tanışın!">
    <meta name="author" content="">
    <meta name=”robots” content="index, follow">
    <meta name="keywords" content="web sitesi, web tasarım, SEO, E-Ticaret Sitesi">
    

    
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/daticonfin.png' %}">

    <title>Datamontag Software Solutions | Web Site Design | E-commerce Site | SEO Solutions </title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/adver.css' %}">


   

    


    </head>









     
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{%  url 'index'  %}" class="logo">
                            DATAMONTAG

                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{%  url 'index'  %}" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="{%  url 'about'  %}">About</a></li>
                            {% if request.get_full_path == "/" or "/indexen" %}
                                <li class="scroll-to-section"><a href="#ref">References</a></li>
                                <li class="scroll-to-section"><a href="#projects">Servıces</a></li>
                                <li class="scroll-to-section"><a href="#contact-us">Contact</a></li> 

                            {% endif %}
                            

                           
                            <li class="scroll-to-section"><a href="{%  url 'index'  %}">TR</a></li> 
                           <!--  <div class="search-icon">
                                <a href="#search"><i class="fa fa-search"></i></a>
                            </div>-->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    