{% extends 'base-en.html' %}

{% load static %}




{% block content %}


<link rel=”canonical” href=”http://datamontag.com/index.html” />




<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      
      <!-- Item -->
      <div class="item">
        
        <div class="img-fill">
        <!--  <img src="{% static 'assets/images/ana2.jpg' %}" alt="Resim Bulunamadı" style="opacity: 0.5;width: 90%;">  -->
             
            <img class="responsive-img" 
            srcset="{% static 'assets/images/ana1.jpg' %} 180w, 
                    {% static 'assets/images/anahazal.png' %} 1200w,
                    {% static 'assets/images/ana2.jpg' %} 1280w"  
            sizes="100vw"
            style="opacity: 0.5"
            src="{% static 'assets/images/close.png' %}"
            alt="Desciptive Alt text">
          

            <div class="text-content">
              <h3>Datamontag</h3>
              <h5> <b>  Software Solutions</b></h5>
              <a href="#contact-us" class="main-stroked-button">Get ınfo</a>
              
            </div>
        </div>
      </div>
      <!-- // Item -->


 <!-- // Item -->
 <div class="item">
  <div class="img-fill">
    <img class="responsive-img" 
    srcset="{% static 'assets/images/denek2.jpg' %} 1280w, 
            {% static 'assets/images/denek2mobi.png' %} 1200w" 
    sizes="100vw"
    style="opacity: 0.5"
    src="{% static 'assets/images/ana2.jpg' %}"
    alt="Desciptive Alt text">


      <div class="text-content">
        <h3>Datamontag</h3>
        <h5> <b>Web Design</b> </h5>
        
        <a href="#contact-us" class="main-stroked-button">Get ınfo</a>
        
      </div>
  </div>
</div>
<!-- // Item -->


      <!-- Item -->
      <div class="item">
        <div class="img-fill">
            <img class="responsive-img" 
            srcset="{% static 'assets/images/ana33.jpg' %} 1280w, 
                    {% static 'assets/images/ana33mobi.png' %} 1200w" 
            sizes="100vw"
            style="opacity: 0.5"
            src="{% static 'assets/images/ana33.jpg' %}"
            alt="Desciptive Alt text">

            <div class="text-content">
              <h3>Datamontag</h3>
              <h5> <b>SEO Solutions</b> </h5>
              
              <a href="#contact-us" class="main-stroked-button">Get ınfo</a>
              
            </div>
        </div>
      </div>
     

      <!-- Item -->
      <div class="item">
        <div class="img-fill">
            <img class="responsive-img" 
            srcset="{% static 'assets/images/sosi.jpg' %} 1280w, 
                    {% static 'assets/images/sosimobi.png' %} 1200w" 
            sizes="100vw"
            style="opacity: 0.5"
            src="{% static 'assets/images/ana33.jpg' %}"
            alt="Desciptive Alt text">


            <div class="text-content">
              <h3>Datamontag</h3>
              <h5> <b>Social Media Management</b> </h5>
              <a href="#contact-us" class="main-stroked-button">Get ınfo</a>
              
            </div>
        </div>
      </div>
      <!-- // Item -->
    </div>
</div>
<div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
<!-- ***** Main Banner Area End ***** -->







<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <br>
                        <h1 style="color: rgb(255, 255, 255);">Strong Software Solutions</h1>
                    </div>
                    <div class="row" style="color: rgb(255, 255, 255);">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/webtaso.png' %}" alt="Resim Bulunamadı">
                              
                                <h4>Web Desıgn</h4>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/seoo.png' %}" alt="Resim Bulunamadı">
                                <h4> SEO Servıces</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/sosyalmedya.png' %}" alt="Resim Bulunamadı">
                                <h4>Socıal Medıa Management</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/logotasarım.png' %}" alt="">
                                <h4>Logo Desıgn</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="{%  url 'about'  %}" class="main-button-icon">
                                  more <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-text-content">
                    <p> Datamontag Web Services: 
                      <br> <br>
                      Tamamen kodla oluşturulmuş alt yapı, güncel tasarımlar, template güncelleme, admin paneli entegrasyonu ve özelleştirmesidir. 
                      Buna ek olarak SEO Hizmeti vermekte ve Web Sızma Testlerinden geçen başarılı ve korunaklı, SSL Sertifikalı web siteleri oluşturmaktayız.
                      <br><br>
                      Bununla beraber CRM Sistemleri, Whatsapp, Telegram ve Slack üzerinden Chatbot hizmeti sağlamaktayız. 
                      Yapay zeka tarafında, gelişmiş 
                      IoT yazılımlarımız, veri madenciliği (data mining)  ve optimizasyonu hizmeti sunuyoruz.
                       Bununla birlikte  İş güvenliği yazılımları, akıllı kart yazılımları, RFID , hizmetimiz de mevcut.
                      <br>
                      <br>
                      
                      
                      
                    
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->
<link rel=”canonical” href=”http://datamontag.com” />




 <!-- ***** Projects Area Starts ***** -->
 <section class="section" id="projects" style="background-color:#d8cbc434;" >
  <div class="container">
    <div class="row"> 
      <style>
        p,h6{text-align: center;}
        
    </style>

        <div class="col-lg-3">
            <div class="section-heading">
              
                <h6>
                 <b>WEB DESIGN </b></h6>
                <hr>
          <p>Increase your brand value with modern and responsive web design and control it with a customized admin panel. </p><hr>
                       
            </div>
           
        </div>
        

        <div class="col-lg-3">
          <div class="section-heading">
              <h6><b style="text-align: center;">SOCIAL MEDIA Management</b></h6>
            <hr>
             <p>Represent your business on social media with high quality content and get interactions.</p><hr>
          </div>
          
        

      </div>

      <div class="col-lg-3">
        <div class="section-heading">
            <h6> <b>SEO SOLUTIONS</b></h6>
           <hr>
        <p>SEO solutions will increase the organic traffic to your website and  also the growth of your business.</p><hr>  
        </div>
        
       
    </div>

    <div class="col-lg-3">
      <div class="section-heading">
          <h6><b>SOFTWARE SOLUTIONS</b></h6>
        <hr>
              <p>CRM systems, improved IoT and occupational safety software,
                  smart card softwares, RFID.</p><hr>
      </div> 
     
  </div>


        
            
        </div>
        <!-- ***** kolon sonu ***** -->







    </div>
  </div>
</section>
<!-- ***** Projects Area Ends ***** -->


















<!-- ***** Features ***** -->
<section class="section" id="subscribe" style="margin-bottom: 50px;">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              <div class="section-heading">
                 <!--  <h6>Bizimle İletişime Geçin</h6>-->
                  <h2>Stay Connected!</h2>
              </div>
              <div class="subscribe-content">
                  <p>Datamontag ekibi olarak kendimizi geliştirmek için sürekli çalışıyoruz. Sunacağımız yeni içerik ve hizmetlerden haberdar olmak için bizi takipte kalın.</p>
                  <div class="subscribe-form">
                      <form id="subscribe-now" action="" method="POST">
                          {% csrf_token %}
                          <div class="row">
                              <div class="col-md-8 col-sm-12">
                                {{ subForm.email }}
                              </div>
                              <div class="col-md-4 col-sm-12">
                                <fieldset>
                                  <button type="submit" id="form-submit" class="main-button">subscrıbe</button>
                                </fieldset>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Features end ***** -->





<!-- ***** REFERANSLAR  ***** -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<div class="container" id="ref" >



  
    <section  class="customer-logos slider1">
    {% for ab in refer %}
    
       
        <div style="margin: 0px 20px;" class="slide1">

            <a href="{{ ab.title2_adres.url }}"></a>
            <img src="{{ ab.title1_Image.url }}">
        </div></a>
    {% endfor %}

<!-- src="{{ ab.title2_adres.url }}"-->



    </section>

   
</div>

<script>
  $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>




<!-- ***** REFERANSLAR KISMI  BİTİŞ ***** -->







<!-- ***** Contact Us Area Starts ***** -->
<section class="section" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h7>İletişim</h7>
                        <h2>Bizimle İletişime Geçin!</h2>
                    </div>
                    <ul class="contact-info">
                        <li><img src="{% static 'assets/images/mail.png' %}" width="30px" height="30px alt=">info@datamontag.com</li>
                        <li><img src="{% static 'assets/images/world.png' %}" width="30px" height="30px alt=">www.datamontag.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="contact-form">
                    <form id="contact" action="" method="POST">
                        {% csrf_token %}
                       
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                            {{ form.username }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form.phone }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form.email }}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            {{ form.subject }}
                        </div>
                        <div class="col-lg-12">
                            {{ form.message }}
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button-icon"> Gönder <i class="fa fa-arrow-right"></i></button>
                          </fieldset>
                        </div>
                      </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Us Area Ends ***** -->





{% endblock  %}