{% extends 'index.html' %}

{% load static %}


{% block content %}



<!-- ***** About Area Starts ***** -->
<section class="section" id="about">
    <div class="container">

        
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Hakkımızda</h6>
                        <br>
                        <h1>Gelişmiş Yazılım Altyapısı</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/service-item-01.png' %}" alt="Resim Bulunamadı">
                                <h4>Web Tasarım</h4>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/service-item-01.png' %}" alt="Resim Bulunamadı">
                                <h4> SEO Hizmeti</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/contact-info-03.png' %}" alt="Resim Bulunamadı">
                                <h4>Sosyal Medya Yönetimi</h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="service-item">
                                <img src="{% static 'assets/images/contact-info-03.png' %}" alt="">
                                <h4>Logo Tasarımı</h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="main-button-icon">
                                 Daha Fazlası <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            
            




        </div>
    </div>
</section>
<!-- ***** About Area Ends ***** -->






{% endblock  %}